---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"progetti">;
}

const { entry } = Astro.props;
---

<a href={`/${entry.collection}/${entry.slug}`} class="elemento relative group flex flex-nowrap p-4 rounded-lg border border-black/15 hover:bg-black/5 hover:text-black transition-colors duration-300 ease-in-out">
  <div class="flex flex-col flex-1">
    <img src={`/progetti/${entry.slug}/preview.webp`} alt={`/${entry.slug}`} class="aspect-square"/>
    <div class="font-bold mt-3 text-lg">
      {entry.data.title}
    </div>
    <div class="text-base">
      {entry.data.place}
    </div>
  </div>
</a>
